<div class="footer">
	<hr>
	<div class="pure-g-r">
	    <div class="pure-u-1-4"></div>
	    <div class="pure-u-1-4">
		<p>&copyNathan Jervis 2013</p>
	    </div>
	    <div class="pure-u-1-4 right">
		<p>
		    Profiles:<br />
		    <a href="https://github.com/mirhagk">Github</a><br />
		    <a href="https://plus.google.com/108509929177619395210?rel=author">Google Plus</a><br />
		    <a href="https://twitter.com/mirhagk">Twitter</a><br />
		    <a href="http://www.linkedin.com/pub/nathan-jervis/40/962/21a">LinkedIn</a><br />
		    <a href="http://stackoverflow.com/users/988817/mirhagk">Stack Overflow</a><br />
		    <a href="https://www.codeplex.com/site/users/view/mirhagk">Codeplex</a>
		</p>
	    </div>
	</div>
</div>

